<nav class="navbar navbar-expand-lg navbar-collapse bg-warning  shadow p-3 mb-5 bg-white rounded">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/GmoneyAlan">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/donate">Donate</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Projects</a>
                    <a class="dropdown-item" href="http://localhost:4200/resume">Resume</a>
                    <a class="dropdown-item" href="https://www.linkedin.com/in/alan-garcia-16705571/">Linkedin</a>
                </div>
            </li>
        </ul>
    </div>
</nav>