<div class="container bg-white shadow p-3 mb-5 bg-secondary rounded">
    <div class=" text-center">
        <h1>Resume</h1>
        <button class="shadow p-3 mb-5 bg-secondary rounded ">Download</button>
    </div>
</div>

<div class="line shadow p-3 mb-5 bg-black rounded "></div>

<div class="container bg-white  mb-5 bg-secondary rounded">
    <div class="text-center ">
        <h5>Alan Garcia</h5>
        <h5>2804 Eads PL</h5>
        <h5>El Paso, TX 79935</h5>
        <h5>Phone number:(915) 799- 5717 Email: agarcia213@miners.utep.edu </h5>
    </div>
    <div class="container ">
        <div class="col "></div>
        <div class="col ">
            <h4>Objective</h4>
            <ul>
                <li>Seeking a position where I can develop my student skills in Computer Science plus further strengthen leadership and management skills.</li>
            </ul>
            <h4>Education</h4>
            <h6>The University of Texas at El Paso, Aug. 2019 - present</h6>
            <h6>El Paso, Texas</h6>
            <li>Obtaining Bachelors in Computer Science</li>
            <h6>Junior - GPA (3.7)</h6>

            <h4>Projects</h4>
            <ul>
                <li>Personal Portfolio Webpage</li>
                <li>Open Source Contribution</li>
            </ul>
            <h4>Skills and Abilities</h4>
            <ul>
                <li>Highly organized</li>
                <li>Time management</li>
                <li>Problem solver</li>
                <li>Energetic leader</li>
                <li>Quick learner</li>
                <li>Team player</li>
                <li>Excellent customer service</li>
                <li>Computer proficient – software/hardware</li>
                <li>Microsoft Office – Word, Excel, PowerPoint and Outlook</li>
                <li>Attention to detail</li>
                <li>Attention to detail</li>
            </ul>
            <h4>Professional Experience</h4>
            <h6>Jack in the Box, May 2020 – Current</h6>
            <h6>El Paso, Texas</h6>
            <h6></h6>
            <h6>Fryer/Drive Thru</h6>
            <ul>
                <li>Cleaned and stocked part of the store</li>
                <li>Prepared food as ordered</li>
                <li>Took in Orders</li>
                <li>Maintained count on cash registered</li>
            </ul>

            <h6>Subway, June 2019-September 2019</h6>
            <h6>El Paso, Texas</h6>
            <h6>Subway Artist</h6>
            <ul>
                <li>Greeted customers and informed of specials</li>
                <li>Cleaned and organized store</li>
                <li>Prepared Sandwiches as per customer request</li>
                <li>Assisted with inventory</li>
                <li>Maintained count on cash registered</li>
                <li>In charge of opening or closing the store</li>
            </ul>
        </div>
    </div>
</div>