<div class=" w-75 jumbotron jumbotron-fluid shadow p-3 mb-5 bg-white rounded" alt="Max-width 75%">
    <div class="container">
        <h1 class="display-4">Alan Gerardo Garcia</h1>
        <p class="lead">A upcoming Junior at The University of Texas at El Paso</p>
    </div>
</div>


<div class=" w-75 accordion shadow p-3 mb-5 bg-white rounded" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            About me
          </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/images/Alan_img.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Classes Currently taking
          </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Automata</li>
                    <li class="list-group-item">Adv. Object-Oriented Programming</li>
                    <li class="list-group-item">Computer Architecture</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<table class="w-75 table table-bordered shadow p-3 mb-5 bg-white rounded">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Classes Taken</th>
            <th scope="col">About</th>
            <th scope="col">Grade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>CS 1301 - Intro to Computer Science</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>CS 2401 - Elementary Data Structures</td>
            <td></td>
            <td>B</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>CS 2302 - Data Structures</td>
            <td></td>
            <td>A</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>MATH 3323 - Linear Algebra</td>
            <td></td>
            <td>B</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>STATS 3320 - Probability and Statistics for CS</td>
            <td></td>
            <td>A</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>EE 2369/2169 - Digital System Design and Lab</td>
            <td></td>
            <td>A</td>
        </tr>
    </tbody>
</table>